<h1 style="color:SlateBlue;">All Articles</h1>

<ul id="articles" style="color:Violet;" >
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article), class: 'css_class', style: 'color:Violet'%>
    </li>
  <% end %>
</ul>
